input:not([type="submit"]).sfv.sfv-error, 
input:not([type="submit"]).sfv.sfv-error:focus, 
input:not([type="submit"]).sfv.sfv-error:autofill, 
input:not([type="submit"]).sfv.sfv-error:-webkit-autofill, 
input:not([type="submit"]).sfv.sfv-error:-webkit-autofill:focus,
select.sfv.sfv-error, select.sfv.sfv-error:focus, 
textarea.sfv.sfv-error, textarea.sfv.sfv-error:focus, 
.sfv.sfv-error[contenteditable="true"], .sfv.sfv-error[contenteditable="true"]:focus { 
  border-bottom-color: #f00 !important; 
}

input:not([type="submit"]).sfv.sfv-ok, 
input:not([type="submit"]).sfv.sfv-ok:focus, 
input:not([type="submit"]).sfv.sfv-ok:autofill, 
input:not([type="submit"]).sfv.sfv-ok:autofill:focus,
input:not([type="submit"]).sfv.sfv-ok:-webkit-autofill, 
input:not([type="submit"]).sfv.sfv-ok:-webkit-autofill:focus,
select.sfv.sfv-ok, select.sfv.sfv-ok:focus, textarea.sfv.sfv-ok, textarea.sfv.sfv-ok:focus,
.sfv.sfv-ok[contenteditable="true"], .sfv.sfv-ok[contenteditable="true"]:focus {
  border-bottom-color: #090 !important;
}

input[type="checkbox"].sfv.sfv-ok, input[type="checkbox"].sfv.sfv-ok:focus,
.sfv.sfv-ok[contenteditable="true"], .sfv.sfv-ok[contenteditable="true"]:focus { 
  border-color: #090 !important; 
}
