input:not([type="checkbox"]):not([type="submit"]) { padding-right: 35px !important; }
input[type="submit"].sfv.disabled, button.sfv.disabled { cursor: not-allowed !important; }

input:not([type="submit"]).sfv.error, 
input:not([type="submit"]).sfv.error:focus, 
input:not([type="submit"]).sfv.error:autofill, 
input:not([type="submit"]).sfv.error:-webkit-autofill, 
input:not([type="submit"]).sfv.error:-webkit-autofill:focus,
select.sfv.error, select.sfv.error:focus, 
textarea.sfv.error, textarea.sfv.error:focus, 
.sfv.error[contenteditable="true"], .sfv.error[contenteditable="true"]:focus { 
  border-bottom-color: #f00 !important; 
  background-image: url("../img/error.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 95% 50% !important;
  background-size: 15px !important;
}

input:not([type="submit"]).sfv.ok, 
input:not([type="submit"]).sfv.ok:focus, 
input:not([type="submit"]).sfv.ok:autofill, 
input:not([type="submit"]).sfv.ok:autofill:focus,
input:not([type="submit"]).sfv.ok:-webkit-autofill, 
input:not([type="submit"]).sfv.ok:-webkit-autofill:focus,
select.sfv.ok, select.sfv.ok:focus, textarea.sfv.ok, textarea.sfv.ok:focus,
.sfv.ok[contenteditable="true"], .sfv.ok[contenteditable="true"]:focus {
  border-bottom-color: #090 !important;
  background-image: url("../img/check-mark.svg") !important;
  background-repeat: no-repeat !important;
  background-position: 95% 50% !important;
  background-size: 15px !important;
}

textarea.sfv.ok, textarea.sfv.ok:focus { background-position: 95% 5% !important; }

input[type="checkbox"].sfv.ok, input[type="checkbox"].sfv.ok:focus,
.sfv.ok[contenteditable="true"], .sfv.ok[contenteditable="true"]:focus { 
  border-color: #090 !important; 
}

